In [21]:
import pandas as pd #数据分析
import numpy as np #科学计算
from pandas import Series,DataFrame
BF_logs_raw = pd.read_csv("./data/BF_datalab_httpd_all.log", header = None, delimiter = " ",error_bad_lines=False)
BF_temp = BF_logs_raw[[3,5,6,7,8,9,10]]
# split timestamp
BF_temp['date'] = BF_temp[3].str.split(":").str.get(0)
BF_temp['hour'] = BF_temp[3].str.split(":").str.get(1)
BF_temp['minute'] = BF_temp[3].str.split(":").str.get(2)
BF_temp['seconds'] = BF_temp[3].str.split(":").str.get(3)
# split protocol
BF_temp['protocol'] = BF_temp[5].str.split(" ").str.get(0)
# split comments
BF_temp['username'] = BF_temp[9].str.split(" ").str.get(0)
BF_temp['password'] = BF_temp[9].str.split(" ").str.get(1)
BF_temp['ip_address'] = BF_temp[9].str.split(" ").str.get(2)
BF_temp['comment'] = BF_temp[9].str.split(" ").str.get(4)
BF_temp['label'] = BF_temp[9].str.split(" ").str.get(3)
# drop innecessary columns
BF_temp = BF_temp.drop([3, 5, 8, 9], axis=1)
# rename & replace
BF_temp.rename(columns={6:'status', 7:'respsize', 10:'timed'}, inplace=True)
BF_temp['date'] = BF_temp['date'].str.replace('[', '')
bf_logs=BF_temp[['ip_address','date','hour','minute','seconds','protocol','username','password','status','respsize','timed','label']]
bf_logs.to_csv('./data/bf.csv')
bf_logs

b'Skipping line 113261: expected 11 fields, saw 17\nSkipping line 128061: expected 11 fields, saw 12\n'
C:\Users\18791\Anaconda3\lib\site-packages\ipykernel\__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\18791\Anaconda3\lib\site-packages\ipykernel\__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\18791\Anaconda3\lib\site-packages\ipykernel\__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,ip_address,date,hour,minute,seconds,protocol,username,password,status,respsize,timed,label
0,136.133.92.208,22/Jan/2018,15,02,01,GET,director,123456,200,1040,312,1
1,136.133.92.208,22/Jan/2018,15,02,01,GET,director,123456,200,945,14,1
2,136.133.92.208,22/Jan/2018,15,02,02,GET,director,123456,200,34463,9,1
3,30.142.97.121,22/Jan/2018,15,02,03,GET,administrator,123456,200,1040,2,1
4,30.142.97.121,22/Jan/2018,15,02,04,GET,administrator,123456,200,945,9,1
5,30.142.97.121,22/Jan/2018,15,02,04,GET,administrator,123456,200,34463,7,1
6,136.133.92.208,22/Jan/2018,15,02,06,POST,director,123456,200,1073,2547,1
7,136.133.92.208,22/Jan/2018,15,02,06,GET,director,123456,304,-,2,1
8,136.133.92.208,22/Jan/2018,15,02,07,GET,director,123456,304,-,9,1
9,30.142.97.121,22/Jan/2018,15,02,07,POST,administrator,123456,200,1073,1583,1
10,30.142.97.121,22/Jan/2018,15,02,09,GET,administrator,123456,304,-,1,1
11,30.142.97.121,22/Jan/2018,15,02,09,GET,administrator,123456,304,-,6,1
12,136.133.92.208,22/Jan/2018,15,02,11,GET,password,123456,200,1040,1,1
13,136.133.92.208,22/Jan/2018,15,02,13,GET,password,123456,200,945,2,1
14,136.133.92.208,22/Jan/2018,15,02,13,GET,password,123456,200,34463,3,1
15,30.142.97.121,22/Jan/2018,15,02,16,GET,testing,123456,200,1040,0,1
16,136.133.92.208,22/Jan/2018,15,02,17,POST,password,123456,200,1073,3403,1
17,30.142.97.121,22/Jan/2018,15,02,17,GET,testing,123456,200,945,7,1
18,30.142.97.121,22/Jan/2018,15,02,17,GET,testing,123456,200,34463,7,1
19,136.133.92.208,22/Jan/2018,15,02,18,GET,password,123456,304,-,1,1
20,136.133.92.208,22/Jan/2018,15,02,18,GET,password,123456,304,-,5,1
21,30.142.97.121,22/Jan/2018,15,02,19,POST,testing,123456,200,1073,729,1
22,30.142.97.121,22/Jan/2018,15,02,20,GET,testing,123456,304,-,0,1
23,30.142.97.121,22/Jan/2018,15,02,20,GET,testing,123456,304,-,1,1
24,136.133.92.208,22/Jan/2018,15,02,22,GET,help,123456,200,1040,1,1
25,136.133.92.208,22/Jan/2018,15,02,22,GET,help,123456,200,945,2,1
26,136.133.92.208,22/Jan/2018,15,02,23,GET,help,123456,200,34463,0,1
27,30.142.97.121,22/Jan/2018,15,02,24,GET,admin,123456,200,1040,0,1
28,30.142.97.121,22/Jan/2018,15,02,24,GET,admin,123456,200,945,3,1
29,136.133.92.208,22/Jan/2018,15,02,24,POST,help,123456,200,1073,149,1
...,...,...,...,...,...,...,...,...,...,...,...,...
128029,248.247.0.35,13/Feb/2018,15,43,21,GET,sale,matthew,304,-,1681,1
128030,248.247.0.35,13/Feb/2018,15,43,26,GET,test,matthew,304,-,1,1
128031,248.247.0.35,13/Feb/2018,15,43,26,GET,test,matthew,304,-,0,1
128032,248.247.0.35,13/Feb/2018,15,43,27,GET,test,matthew,304,-,0,1
128033,248.247.0.35,13/Feb/2018,15,43,28,POST,test,matthew,200,1073,7,1
128034,248.247.0.35,13/Feb/2018,15,43,30,GET,test,matthew,304,-,1096,1
128035,248.247.0.35,13/Feb/2018,15,43,30,GET,test,matthew,304,-,3,1
128036,248.247.0.35,13/Feb/2018,15,43,35,GET,anya,matthew,304,-,0,1
128037,248.247.0.35,13/Feb/2018,15,43,37,GET,anya,matthew,304,-,0,1
128038,248.247.0.35,13/Feb/2018,15,43,37,GET,anya,matthew,304,-,0,1
128039,248.247.0.35,13/Feb/2018,15,43,39,POST,anya,matthew,200,1073,5,1
128040,248.247.0.35,13/Feb/2018,15,43,41,GET,anya,matthew,304,-,0,1
128041,248.247.0.35,13/Feb/2018,15,43,41,GET,anya,matthew,304,-,0,1
128042,248.247.0.35,13/Feb/2018,15,43,46,GET,sekretar,matthew,304,-,0,1
128043,248.247.0.35,13/Feb/2018,15,43,47,GET,sekretar,matthew,304,-,0,1
128044,248.247.0.35,13/Feb/2018,15,43,47,GET,sekretar,matthew,304,-,3,1
128045,248.247.0.35,13/Feb/2018,15,43,48,POST,sekretar,matthew,200,1073,11,1
128046,248.247.0.35,13/Feb/2018,15,43,49,GET,sekretar,matthew,304,-,0,1
128047,248.247.0.35,13/Feb/2018,15,43,49,GET,sekretar,matthew,304,-,0,1
128048,248.247.0.35,13/Feb/2018,15,43,55,GET,uploader,matthew,304,-,1,1
128049,248.247.0.35,13/Feb/2018,15,43,56,GET,uploader,matthew,304,-,1,1
128050,248.247.0.35,13/Feb/2018,15,43,56,GET,uploader,matthew,304,-,616,1
128051,248.247.0.35,13/Feb/2018,15,43,58,POST,uploader,matthew,200,1073,7,1
128052,248.247.0.35,13/Feb/2018,15,43,59,GET,uploader,matthew,304,-,0,1
128053,248.247.0.35,13/Feb/2018,15,43,59,GET,uploader,matthew,304,-,0,1
128054,248.247.0.35,13/Feb/2018,15,44,04,GET,andreev,matthew,304,-,1,1
128055,248.247.0.35,13/Feb/2018,15,44,06,GET,andreev,matthew,304,-,0,1
128056,248.247.0.35,13/Feb/2018,15,44,06,GET,andreev,matthew,304,-,0,1
128057,248.247.0.35,13/Feb/2018,15,44,10,POST,andreev,matthew,200,1073,800,1
128058,248.247.0.35,13/Feb/2018,15,44,11,GET,andreev,matthew,304,-,1,1

In [15]:
Normal_logs_raw = pd.read_csv("./data/normal.log", header = None, delimiter = " ")
Normal_temp = Normal_logs_raw[[3,5,6,7,8,9,10]]
# split timestamp
Normal_temp['date'] = Normal_temp[3].str.split(":").str.get(0)
Normal_temp['hour'] = Normal_temp[3].str.split(":").str.get(1)
Normal_temp['minute'] = Normal_temp[3].str.split(":").str.get(2)
Normal_temp['seconds'] = Normal_temp[3].str.split(":").str.get(3)
# split protocol
Normal_temp['protocol'] = Normal_temp[5].str.split(" ").str.get(0)
# split comments
Normal_temp['username'] = Normal_temp[9].str.split(" ").str.get(0)
Normal_temp['password'] = Normal_temp[9].str.split(" ").str.get(2)
Normal_temp['ip_address'] = Normal_temp[9].str.split(" ").str.get(3)
Normal_temp['comment'] = Normal_temp[9].str.split(" ").str.get(5)
Normal_temp['label'] = Normal_temp[9].str.split(" ").str.get(4)
# drop innecessary columns
Normal_temp = Normal_temp.drop([3, 5, 8, 9], axis=1)
# rename & replace
Normal_temp.rename(columns={6:'status', 7:'respsize', 10:'timed'}, inplace=True)
Normal_temp['date'] = Normal_temp['date'].str.replace('[', '')
normal_log=Normal_temp[['ip_address','date','hour','minute','seconds','protocol','username','password','status','respsize','timed','label']]
normal_log.to_csv('./data/normal.csv')
normal_log

C:\Users\18791\Anaconda3\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\18791\Anaconda3\lib\site-packages\ipykernel\__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\18791\Anaconda3\lib\site-packages\ipykernel\__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,ip_address,date,hour,minute,seconds,protocol,username,password,status,respsize,timed,label
0,76.121.199.123,21/Jan/2018,23,59,00,GET,12345678,michael,200,1040,20,0
1,76.121.199.123,21/Jan/2018,23,59,01,GET,12345678,michael,200,945,22,0
2,76.121.199.123,21/Jan/2018,23,59,04,GET,12345678,michael,200,34463,2435,0
3,76.121.199.123,21/Jan/2018,23,59,06,POST,12345678,michael,200,1073,1852,0
4,76.121.199.123,21/Jan/2018,23,59,07,GET,12345678,michael,304,-,2,0
5,76.121.199.123,21/Jan/2018,23,59,07,GET,12345678,michael,304,-,6,0
6,114.67.130.218,21/Jan/2018,23,59,12,GET,personal,klaster,200,1040,1,0
7,114.67.130.218,21/Jan/2018,23,59,12,GET,personal,klaster,200,945,1,0
8,114.67.130.218,21/Jan/2018,23,59,12,GET,personal,klaster,200,34463,3,0
9,114.67.130.218,21/Jan/2018,23,59,13,POST,personal,klaster,200,1073,134,0
10,114.67.130.218,21/Jan/2018,23,59,13,GET,personal,klaster,304,-,1,0
11,114.67.130.218,21/Jan/2018,23,59,13,GET,personal,klaster,304,-,4,0
12,156.206.49.62,21/Jan/2018,23,59,18,GET,avto,password,200,1040,1,0
13,156.206.49.62,21/Jan/2018,23,59,18,GET,avto,password,200,945,1,0
14,156.206.49.62,21/Jan/2018,23,59,18,GET,avto,password,200,34463,1,0
15,156.206.49.62,21/Jan/2018,23,59,20,POST,avto,password,200,1073,535,0
16,156.206.49.62,21/Jan/2018,23,59,20,GET,avto,password,304,-,1,0
17,156.206.49.62,21/Jan/2018,23,59,20,GET,avto,password,304,-,3,0
18,49.190.171.151,21/Jan/2018,23,59,25,GET,aleksander,chelsea,200,1040,1,0
19,49.190.171.151,21/Jan/2018,23,59,25,GET,aleksander,chelsea,200,945,4,0
20,49.190.171.151,21/Jan/2018,23,59,25,GET,aleksander,chelsea,200,34463,3,0
21,49.190.171.151,21/Jan/2018,23,59,27,POST,aleksander,chelsea,200,1073,575,0
22,49.190.171.151,21/Jan/2018,23,59,28,GET,aleksander,chelsea,304,-,1,0
23,49.190.171.151,21/Jan/2018,23,59,28,GET,aleksander,chelsea,304,-,2,0
24,57.223.196.142,21/Jan/2018,23,59,32,GET,root,robert,200,1040,2,0
25,57.223.196.142,21/Jan/2018,23,59,33,GET,root,robert,200,945,2,0
26,57.223.196.142,21/Jan/2018,23,59,33,GET,root,robert,200,34463,1,0
27,57.223.196.142,21/Jan/2018,23,59,34,POST,root,robert,200,1073,186,0
28,57.223.196.142,21/Jan/2018,23,59,36,GET,root,robert,304,-,1,0
29,57.223.196.142,21/Jan/2018,23,59,36,GET,root,robert,304,-,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...
11970,122.52.32.66,22/Jan/2018,04,13,45,GET,finance,hockey,200,1040,0,0
11971,122.52.32.66,22/Jan/2018,04,13,46,GET,finance,hockey,200,945,0,0
11972,122.52.32.66,22/Jan/2018,04,13,46,GET,finance,hockey,200,34463,0,0
11973,122.52.32.66,22/Jan/2018,04,13,48,POST,finance,hockey,200,1073,926,0
11974,122.52.32.66,22/Jan/2018,04,13,49,GET,finance,hockey,304,-,0,0
11975,122.52.32.66,22/Jan/2018,04,13,49,GET,finance,hockey,304,-,0,0
11976,90.102.57.57,22/Jan/2018,04,13,54,GET,fin,987654321,200,1040,0,0
11977,90.102.57.57,22/Jan/2018,04,13,55,GET,fin,987654321,200,945,0,0
11978,90.102.57.57,22/Jan/2018,04,13,55,GET,fin,987654321,200,34463,1,0
11979,90.102.57.57,22/Jan/2018,04,13,56,POST,fin,987654321,200,1073,6,0
11980,90.102.57.57,22/Jan/2018,04,13,57,GET,fin,987654321,304,-,1,0
11981,90.102.57.57,22/Jan/2018,04,13,57,GET,fin,987654321,304,-,2,0
11982,37.228.16.55,22/Jan/2018,04,14,02,GET,design,jennifer,200,1040,0,0
11983,37.228.16.55,22/Jan/2018,04,14,03,GET,design,jennifer,200,945,1,0
11984,37.228.16.55,22/Jan/2018,04,14,03,GET,design,jennifer,200,34463,1,0
11985,37.228.16.55,22/Jan/2018,04,14,04,POST,design,jennifer,200,1073,296,0
11986,37.228.16.55,22/Jan/2018,04,14,05,GET,design,jennifer,304,-,1,0
11987,37.228.16.55,22/Jan/2018,04,14,05,GET,design,jennifer,304,-,1011,0
11988,50.173.80.20,22/Jan/2018,04,14,10,GET,fabrika,joshua,200,1040,0,0
11989,50.173.80.20,22/Jan/2018,04,14,11,GET,fabrika,joshua,200,945,0,0
11990,50.173.80.20,22/Jan/2018,04,14,11,GET,fabrika,joshua,200,34463,0,0
11991,50.173.80.20,22/Jan/2018,04,14,12,POST,fabrika,joshua,200,1073,527,0
11992,50.173.80.20,22/Jan/2018,04,14,13,GET,fabrika,joshua,304,-,1,0
11993,50.173.80.20,22/Jan/2018,04,14,13,GET,fabrika,joshua,304,-,2,0
11994,243.18.168.75,22/Jan/2018,04,14,17,GET,bogdanov,1234567,200,1040,1,0
11995,243.18.168.75,22/Jan/2018,04,14,17,GET,bogdanov,1234567,200,945,1,0
11996,243.18.168.75,22/Jan/2018,04,14,17,GET,bogdanov,1234567,200,34463,1,0
11997,243.18.168.75,22/Jan/2018,04,14,19,POST,bogdanov,1234567,200,1073,3,0
11998,243.18.168.75,22/Jan/2018,04,14,19,GET,bogdanov,1234567,304,-,1,0
11999,243.18.168.75,22/Jan/2018,04,14,19,GET,bogdanov,1234567,304,-,2,0

In [16]:
sql_logs_raw = pd.read_csv("./data/sql.log", header = None, delimiter = " ")
sql_temp = sql_logs_raw[[0,3,5,6,7,8,9,10]]
# split timestamp
sql_temp['date'] = sql_temp[3].str.split(":").str.get(0)
sql_temp['hour'] = sql_temp[3].str.split(":").str.get(1)
sql_temp['minute'] = sql_temp[3].str.split(":").str.get(2)
sql_temp['seconds'] = sql_temp[3].str.split(":").str.get(3)
# split protocol
sql_temp['protocol'] = sql_temp[5].str.split(" ").str.get(0)
# split comments
sql_temp['username'] = sql_temp[9].str.split(" ").str.get(0)
sql_temp['password'] = sql_temp[9].str.split(" M").str.get(0)
sql_temp['password'] = sql_temp['password'].str.replace('datalab ', '')
#Normal_temp['password']=Normal_temp['password'].str.split(" ").str.get(1)
sql_temp['ip_address'] = sql_temp[0].str.split("::").str.get(1)
sql_temp['ip_address'] = sql_temp['ip_address'].str.split(":").str.get(1)
sql_temp['comment'] = sql_temp[9].str.split(" ").str.get(5)
sql_temp['label'] = 1
# drop innecessary columns
sql_temp = sql_temp.drop([3, 5, 8, 9], axis=1)
# rename & replace
sql_temp.rename(columns={6:'status', 7:'respsize', 10:'timed'}, inplace=True)
sql_temp['date'] = sql_temp['date'].str.replace('[', '')
sql_log=sql_temp[['ip_address','date','hour','minute','seconds','protocol','username','password','status','respsize','timed','label']]
sql_log.to_csv("./data/sql.csv")
sql_log
#normal_log=Normal_temp[['ip_address','date','hour','minute','seconds','protocol','username','password','status','respsize','timed','label']]
#normal_log

C:\Users\18791\Anaconda3\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\18791\Anaconda3\lib\site-packages\ipykernel\__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,ip_address,date,hour,minute,seconds,protocol,username,password,status,respsize,timed,label
0,192.108.116.88,17/Dec/2017,16,19,59,GET,datalab,SELECT @@version,200,1040,23,1
1,192.108.116.88,17/Dec/2017,16,19,59,GET,datalab,SELECT @@version,200,945,10,1
2,192.108.116.88,17/Dec/2017,16,19,59,GET,datalab,SELECT @@version,200,34463,2,1
3,192.108.116.88,17/Dec/2017,16,20,00,POST,datalab,SELECT @@version,200,1073,180,1
4,192.108.116.88,17/Dec/2017,16,20,00,GET,datalab,SELECT @@version,304,-,1,1
5,192.108.116.88,17/Dec/2017,16,20,00,GET,datalab,SELECT @@version,304,-,1,1
6,192.108.116.88,17/Dec/2017,16,20,22,GET,datalab,SELECT 1; #comment,200,1040,1,1
7,192.108.116.88,17/Dec/2017,16,20,22,GET,datalab,SELECT 1; #comment,200,945,5,1
8,192.108.116.88,17/Dec/2017,16,20,22,GET,datalab,SELECT 1; #comment,200,34463,1,1
9,192.108.116.88,17/Dec/2017,16,20,23,POST,datalab,SELECT 1; #comment,200,1073,171,1
10,192.108.116.88,17/Dec/2017,16,20,24,GET,datalab,SELECT 1; #comment,304,-,0,1
11,192.108.116.88,17/Dec/2017,16,20,24,GET,datalab,SELECT 1; #comment,304,-,0,1
12,192.108.116.88,17/Dec/2017,16,20,40,GET,datalab,SELECT /*comment*/1;,200,1040,1,1
13,192.108.116.88,17/Dec/2017,16,20,40,GET,datalab,SELECT /*comment*/1;,200,945,1,1
14,192.108.116.88,17/Dec/2017,16,20,40,GET,datalab,SELECT /*comment*/1;,200,34463,2,1
15,192.108.116.88,17/Dec/2017,16,20,41,POST,datalab,SELECT /*comment*/1;,200,1073,141,1
16,192.108.116.88,17/Dec/2017,16,20,41,GET,datalab,SELECT /*comment*/1;,304,-,0,1
17,192.108.116.88,17/Dec/2017,16,20,41,GET,datalab,SELECT /*comment*/1;,304,-,0,1
18,192.108.116.88,17/Dec/2017,16,20,58,GET,datalab,SELECT user();,200,1040,0,1
19,192.108.116.88,17/Dec/2017,16,20,59,GET,datalab,SELECT user();,200,945,3,1
20,192.108.116.88,17/Dec/2017,16,20,59,GET,datalab,SELECT user();,200,34463,1,1
21,192.108.116.88,17/Dec/2017,16,21,00,POST,datalab,SELECT user();,200,1073,173,1
22,192.108.116.88,17/Dec/2017,16,21,00,GET,datalab,SELECT user();,304,-,0,1
23,192.108.116.88,17/Dec/2017,16,21,00,GET,datalab,SELECT user();,304,-,0,1
24,192.108.116.88,17/Dec/2017,16,21,17,GET,datalab,SELECT system_user();,200,1040,1,1
25,192.108.116.88,17/Dec/2017,16,21,17,GET,datalab,SELECT system_user();,200,945,1,1
26,192.108.116.88,17/Dec/2017,16,21,17,GET,datalab,SELECT system_user();,200,34463,0,1
27,192.108.116.88,17/Dec/2017,16,21,19,POST,datalab,SELECT system_user();,200,1073,165,1
28,192.108.116.88,17/Dec/2017,16,21,19,GET,datalab,SELECT system_user();,304,-,0,1
29,192.108.116.88,17/Dec/2017,16,21,19,GET,datalab,SELECT system_user();,304,-,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
206,192.108.116.88,17/Dec/2017,16,44,04,GET,datalab,CREATE USER test1 IDENTIFIED BY ?pass1?; ? priv,304,-,8,1
207,192.108.116.88,17/Dec/2017,16,44,20,GET,datalab,DROP USER test1; ? priv,200,1040,1,1
208,192.108.116.88,17/Dec/2017,16,44,20,GET,datalab,DROP USER test1; ? priv,200,945,1,1
209,192.108.116.88,17/Dec/2017,16,44,20,GET,datalab,DROP USER test1; ? priv,200,34463,2,1
210,192.108.116.88,17/Dec/2017,16,44,21,POST,datalab,DROP USER test1; ? priv,200,1073,168,1
211,192.108.116.88,17/Dec/2017,16,44,21,GET,datalab,DROP USER test1; ? priv,304,-,2,1
212,192.108.116.88,17/Dec/2017,16,44,21,GET,datalab,DROP USER test1; ? priv,304,-,0,1
213,192.108.116.88,17/Dec/2017,16,44,41,GET,datalab,GRANT ALL PRIVILEGES ON *.* TO test1@?%'; ? priv,200,1040,1,1
214,192.108.116.88,17/Dec/2017,16,44,41,GET,datalab,GRANT ALL PRIVILEGES ON *.* TO test1@?%'; ? priv,200,945,1,1
215,192.108.116.88,17/Dec/2017,16,44,41,GET,datalab,GRANT ALL PRIVILEGES ON *.* TO test1@?%'; ? priv,200,34463,0,1
216,192.108.116.88,17/Dec/2017,16,46,41,POST,datalab,GRANT ALL PRIVILEGES ON *.* TO test1@?%'; ? priv,-,-,-,1
217,192.108.116.88,17/Dec/2017,16,48,41,POST,datalab,GRANT ALL PRIVILEGES ON *.* TO test1@?%'; ? priv,-,-,-,1
218,192.108.116.88,17/Dec/2017,16,49,05,GET,datalab,SELECT @@datadir;,200,1040,1,1
219,192.108.116.88,17/Dec/2017,16,49,05,GET,datalab,SELECT @@datadir;,200,945,1,1
220,192.108.116.88,17/Dec/2017,16,49,05,GET,datalab,SELECT @@datadir;,200,34463,3,1
221,192.108.116.88,17/Dec/2017,16,49,06,POST,datalab,SELECT @@datadir;,200,1073,209,1
222,192.108.116.88,17/Dec/2017,16,49,06,GET,datalab,SELECT @@datadir;,304,-,0,1
223,192.108.116.88,17/Dec/2017,16,49,06,GET,datalab,SELECT @@datadir;,304,-,0,1
224,192.108.116.88,17/Dec/2017,16,49,25,GET,datalab,information_schema (>= mysql 5.0),200,1040,1,1
225,192.108.116.88,17/Dec/2017,16,49,26,GET,datalab,information_schema (>= mysql 5.0),200,945,1,1
226,192.108.116.88,17/Dec/2017,16,49,26,GET,datalab,information_schema (>= mysql 5.0),200,34463,1,1
227,192.108.116.88,17/Dec/2017,16,49,27,POST,datalab,information_schema (>= mysql 5.0),200,1073,127,1
228,192.108.116.88,17/Dec/2017,16,49,27,GET,datalab,information_schema (>= mysql 5.0),304,-,0,1
229,192.108.116.88,17/Dec/2017,16,49,27,GET,datalab,information_schema (>= mysql 5.0),304,-,1,1
230,192.108.116.88,17/Dec/2017,16,49,51,GET,datalab,mysql,200,1040,2,1
231,192.108.116.88,17/Dec/2017,16,49,51,GET,datalab,mysql,200,945,1,1
232,192.108.116.88,17/Dec/2017,16,49,52,GET,datalab,mysql,200,34463,1,1
233,192.108.116.88,17/Dec/2017,16,49,53,POST,datalab,mysql,200,1073,166,1
234,192.108.116.88,17/Dec/2017,16,49,53,GET,datalab,mysql,304,-,1,1
235,192.108.116.88,17/Dec/2017,16,49,53,GET,datalab,mysql,304,-,0,1

In [17]:
xss_logs_raw = pd.read_csv("./data/xss.log", header = None, delimiter = " ",error_bad_lines=False)
xss_temp = xss_logs_raw[[0,3,5,6,7,8,9,23]]
# split timestamp
xss_temp['date'] =xss_temp[3].str.split(":").str.get(0)
xss_temp['hour'] = xss_temp[3].str.split(":").str.get(1)
xss_temp['minute'] = xss_temp[3].str.split(":").str.get(2)
xss_temp['seconds'] = xss_temp[3].str.split(":").str.get(3)
# split protocol
xss_temp['protocol'] = xss_temp[5].str.split(" ").str.get(0)
# split comments
xss_temp['username'] = xss_temp[9].str.split(" ").str.get(0)
xss_temp['password'] = xss_temp[9].str.split(" M").str.get(0)
xss_temp['password'] = xss_temp['password'].str.replace('datalab ', '')
#Normal_temp['password']=Normal_temp['password'].str.split(" ").str.get(1)
xss_temp['ip_address'] = xss_temp[0].str.split("::").str.get(1)
xss_temp['ip_address'] = xss_temp['ip_address'].str.split(":").str.get(1)
xss_temp['comment'] = xss_temp[9].str.split(" ").str.get(5)
xss_temp['label'] = 1
# drop innecessary columns
xss_temp = xss_temp.drop([3, 5, 8, 9], axis=1)
# rename & replace
xss_temp.rename(columns={6:'status', 7:'respsize', 23:'timed'}, inplace=True)
xss_temp['date'] = xss_temp['date'].str.replace('[', '')
xss_log=xss_temp[['ip_address','date','hour','minute','seconds','protocol','username','password','status','respsize','timed','label']]
xss_log.to_csv("./data/xss.csv")
xss_log

b'Skipping line 79: expected 24 fields, saw 26\nSkipping line 80: expected 24 fields, saw 26\nSkipping line 81: expected 24 fields, saw 26\nSkipping line 82: expected 24 fields, saw 26\nSkipping line 83: expected 24 fields, saw 26\nSkipping line 84: expected 24 fields, saw 25\nSkipping line 85: expected 24 fields, saw 25\nSkipping line 86: expected 24 fields, saw 25\nSkipping line 87: expected 24 fields, saw 25\nSkipping line 88: expected 24 fields, saw 25\nSkipping line 89: expected 24 fields, saw 25\nSkipping line 180: expected 24 fields, saw 27\nSkipping line 181: expected 24 fields, saw 27\nSkipping line 182: expected 24 fields, saw 27\nSkipping line 183: expected 24 fields, saw 27\nSkipping line 184: expected 24 fields, saw 27\nSkipping line 248: expected 24 fields, saw 25\nSkipping line 249: expected 24 fields, saw 25\nSkipping line 250: expected 24 fields, saw 25\nSkipping line 251: expected 24 fields, saw 25\nSkipping line 252: expected 24 fields, saw 25\nSkipping line 299: expected 24 fields, saw 25\nSkipping line 300: expected 24 fields, saw 25\nSkipping line 301: expected 24 fields, saw 25\nSkipping line 302: expected 24 fields, saw 25\nSkipping line 303: expected 24 fields, saw 25\nSkipping line 304: expected 24 fields, saw 25\nSkipping line 305: expected 24 fields, saw 25\nSkipping line 306: expected 24 fields, saw 25\nSkipping line 307: expected 24 fields, saw 25\nSkipping line 308: expected 24 fields, saw 25\nSkipping line 309: expected 24 fields, saw 25\nSkipping line 315: expected 24 fields, saw 25\nSkipping line 316: expected 24 fields, saw 25\nSkipping line 317: expected 24 fields, saw 25\nSkipping line 318: expected 24 fields, saw 25\nSkipping line 319: expected 24 fields, saw 25\nSkipping line 320: expected 24 fields, saw 25\nSkipping line 326: expected 24 fields, saw 26\nSkipping line 327: expected 24 fields, saw 26\nSkipping line 328: expected 24 fields, saw 26\nSkipping line 329: expected 24 fields, saw 26\nSkipping line 330: expected 24 fields, saw 26\nSkipping line 331: expected 24 fields, saw 26\nSkipping line 363: expected 24 fields, saw 25\nSkipping line 364: expected 24 fields, saw 25\nSkipping line 365: expected 24 fields, saw 25\nSkipping line 366: expected 24 fields, saw 25\nSkipping line 367: expected 24 fields, saw 25\nSkipping line 378: expected 24 fields, saw 25\nSkipping line 379: expected 24 fields, saw 25\nSkipping line 380: expected 24 fields, saw 25\nSkipping line 381: expected 24 fields, saw 25\nSkipping line 382: expected 24 fields, saw 25\nSkipping line 383: expected 24 fields, saw 25\nSkipping line 390: expected 24 fields, saw 25\nSkipping line 391: expected 24 fields, saw 25\nSkipping line 392: expected 24 fields, saw 25\nSkipping line 393: expected 24 fields, saw 25\nSkipping line 394: expected 24 fields, saw 25\nSkipping line 395: expected 24 fields, saw 26\nSkipping line 396: expected 24 fields, saw 26\nSkipping line 397: expected 24 fields, saw 26\nSkipping line 398: expected 24 fields, saw 26\nSkipping line 399: expected 24 fields, saw 26\nSkipping line 400: expected 24 fields, saw 26\nSkipping line 401: expected 24 fields, saw 26\nSkipping line 402: expected 24 fields, saw 26\nSkipping line 403: expected 24 fields, saw 26\nSkipping line 404: expected 24 fields, saw 26\nSkipping line 405: expected 24 fields, saw 26\nSkipping line 432: expected 24 fields, saw 25\nSkipping line 433: expected 24 fields, saw 25\nSkipping line 434: expected 24 fields, saw 25\nSkipping line 435: expected 24 fields, saw 25\nSkipping line 436: expected 24 fields, saw 25\nSkipping line 442: expected 24 fields, saw 25\nSkipping line 443: expected 24 fields, saw 25\nSkipping line 444: expected 24 fields, saw 25\nSkipping line 445: expected 24 fields, saw 25\nSkipping line 446: expected 24 fields, saw 25\nSkipping line 447: expected 24 fields, saw 25\nSkipping line 448: expected 24 fields, saw 25\nSkipping line 449: expected 24 fields, saw 25\nSkipping line 450: expected 24 fields, saw 25\nSkipping line 451: expected 24 fields, saw 25\nSkipping line 456: expected 24 fields, saw 28\nSkipping line 457: expected 24 fields, saw 28\nSkipping line 458: expected 24 fields, saw 28\nSkipping line 459: expected 24 fields, saw 28\nSkipping line 460: expected 24 fields, saw 28\nSkipping line 461: expected 24 fields, saw 25\nSkipping line 462: expected 24 fields, saw 25\nSkipping line 463: expected 24 fields, saw 25\nSkipping line 464: expected 24 fields, saw 25\nSkipping line 465: expected 24 fields, saw 25\nSkipping line 472: expected 24 fields, saw 25\nSkipping line 473: expected 24 fields, saw 25\nSkipping line 474: expected 24 fields, saw 25\nSkipping line 475: expected 24 fields, saw 25\nSkipping line 476: expected 24 fields, saw 25\nSkipping line 477: expected 24 fields, saw 27\nSkipping line 478: expected 24 fields, saw 27\nSkipping line 479: expected 24 fields, saw 27\nSkipping line 480: expected 24 fields, saw 27\nSkipping line 481: expected 24 fields, saw 27\nSkipping line 482: expected 24 fields, saw 25\nSkipping line 483: expected 24 fields, saw 25\nSkipping line 484: expected 24 fields, saw 25\nSkipping line 485: expected 24 fields, saw 25\nSkipping line 486: expected 24 fields, saw 25\nSkipping line 487: expected 24 fields, saw 25\nSkipping line 488: expected 24 fields, saw 25\nSkipping line 489: expected 24 fields, saw 25\nSkipping line 490: expected 24 fields, saw 25\nSkipping line 491: expected 24 fields, saw 25\nSkipping line 492: expected 24 fields, saw 25\nSkipping line 493: expected 24 fields, saw 25\nSkipping line 494: expected 24 fields, saw 26\nSkipping line 495: expected 24 fields, saw 26\nSkipping line 496: expected 24 fields, saw 26\nSkipping line 497: expected 24 fields, saw 26\nSkipping line 498: expected 24 fields, saw 26\nSkipping line 499: expected 24 fields, saw 26\nSkipping line 500: expected 24 fields, saw 25\nSkipping line 501: expected 24 fields, saw 25\nSkipping line 502: expected 24 fields, saw 25\nSkipping line 503: expected 24 fields, saw 25\nSkipping line 504: expected 24 fields, saw 25\nSkipping line 505: expected 24 fields, saw 25\nSkipping line 512: expected 24 fields, saw 25\nSkipping line 513: expected 24 fields, saw 25\nSkipping line 514: expected 24 fields, saw 25\nSkipping line 515: expected 24 fields, saw 25\nSkipping line 516: expected 24 fields, saw 25\nSkipping line 517: expected 24 fields, saw 25\nSkipping line 518: expected 24 fields, saw 25\nSkipping line 519: expected 24 fields, saw 25\nSkipping line 520: expected 24 fields, saw 25\nSkipping line 521: expected 24 fields, saw 25\nSkipping line 522: expected 24 fields, saw 25\nSkipping line 529: expected 24 fields, saw 25\nSkipping line 530: expected 24 fields, saw 25\nSkipping line 531: expected 24 fields, saw 25\nSkipping line 532: expected 24 fields, saw 25\nSkipping line 533: expected 24 fields, saw 25\nSkipping line 534: expected 24 fields, saw 25\nSkipping line 541: expected 24 fields, saw 26\nSkipping line 542: expected 24 fields, saw 26\nSkipping line 543: expected 24 fields, saw 26\nSkipping line 544: expected 24 fields, saw 26\nSkipping line 545: expected 24 fields, saw 26\nSkipping line 551: expected 24 fields, saw 26\nSkipping line 552: expected 24 fields, saw 26\nSkipping line 553: expected 24 fields, saw 26\nSkipping line 554: expected 24 fields, saw 26\nSkipping line 555: expected 24 fields, saw 26\n'
C:\Users\18791\Anaconda3\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\18791\Anaconda3\lib\site-packages\ipykernel\__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\18791\Anaconda3\lib\site-packages\ipykernel\__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\18791\Anaconda3\lib\site-packages\ipykernel\__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\18791\Anaconda3\lib\site-packages\ipykernel\__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\18791\Anaconda3\lib\site-packages\ipykernel\__main__.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\18791\Anaconda3\lib\site-packages\ipykernel\__main__.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\18791\Anaconda3\lib\site-packages\ipykernel\__main__.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\18791\Anaconda3\lib\site-packages\ipykernel\__main__.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\18791\Anaconda3\lib\site-packages\ipykernel\__main__.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\18791\Anaconda3\lib\site-packages\ipykernel\__main__.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\18791\Anaconda3\lib\site-packages\ipykernel\__main__.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,ip_address,date,hour,minute,seconds,protocol,username,password,status,respsize,timed,label
0,192.108.116.88,18/Dec/2017,13,00,31,GET,datalab,"';alert(String.fromCharCode(88,83,83))//';aler...",200,1040,183,1
1,192.108.116.88,18/Dec/2017,13,00,31,GET,datalab,"';alert(String.fromCharCode(88,83,83))//';aler...",200,945,35,1
2,192.108.116.88,18/Dec/2017,13,00,31,GET,datalab,"';alert(String.fromCharCode(88,83,83))//';aler...",200,34463,8,1
3,192.108.116.88,18/Dec/2017,13,02,31,POST,datalab,"';alert(String.fromCharCode(88,83,83))//';aler...",-,-,-,1
4,192.108.116.88,18/Dec/2017,13,04,31,POST,datalab,"';alert(String.fromCharCode(88,83,83))//';aler...",-,-,-,1
5,192.108.116.88,18/Dec/2017,13,04,56,GET,datalab,'';!--<XSS>=&{()},200,1040,19,1
6,192.108.116.88,18/Dec/2017,13,04,56,GET,datalab,'';!--<XSS>=&{()},200,945,24,1
7,192.108.116.88,18/Dec/2017,13,04,56,GET,datalab,'';!--<XSS>=&{()},200,34463,2,1
8,192.108.116.88,18/Dec/2017,13,04,57,POST,datalab,'';!--<XSS>=&{()},200,1073,206,1
9,192.108.116.88,18/Dec/2017,13,04,57,GET,datalab,'';!--<XSS>=&{()},304,-,5,1
10,192.108.116.88,18/Dec/2017,13,04,57,GET,datalab,'';!--<XSS>=&{()},304,-,12,1
11,192.108.116.88,18/Dec/2017,13,05,16,GET,datalab,0\autofocus/onfocus=alert(1)--><video/poster/o...,200,1040,19,1
12,192.108.116.88,18/Dec/2017,13,05,16,GET,datalab,0\autofocus/onfocus=alert(1)--><video/poster/o...,200,945,4,1
13,192.108.116.88,18/Dec/2017,13,05,16,GET,datalab,0\autofocus/onfocus=alert(1)--><video/poster/o...,200,34463,3,1
14,192.108.116.88,18/Dec/2017,13,05,16,POST,datalab,0\autofocus/onfocus=alert(1)--><video/poster/o...,200,1073,139,1
15,192.108.116.88,18/Dec/2017,13,05,16,GET,datalab,0\autofocus/onfocus=alert(1)--><video/poster/o...,304,-,4,1
16,192.108.116.88,18/Dec/2017,13,05,16,GET,datalab,0\autofocus/onfocus=alert(1)--><video/poster/o...,304,-,9,1
17,192.108.116.88,18/Dec/2017,13,05,38,GET,datalab,"<script/src=data:,alert()>",200,1040,NaN,1
18,192.108.116.88,18/Dec/2017,13,05,38,GET,datalab,"<script/src=data:,alert()>",200,945,NaN,1
19,192.108.116.88,18/Dec/2017,13,05,38,GET,datalab,"<script/src=data:,alert()>",200,34463,NaN,1
20,192.108.116.88,18/Dec/2017,13,05,39,POST,datalab,"<script/src=data:,alert()>",200,1073,NaN,1
21,192.108.116.88,18/Dec/2017,13,05,39,GET,datalab,"<script/src=data:,alert()>",304,-,NaN,1
22,192.108.116.88,18/Dec/2017,13,05,39,GET,datalab,"<script/src=data:,alert()>",304,-,NaN,1
23,192.108.116.88,18/Dec/2017,13,06,03,GET,datalab,<marquee/onstart=alert()>,200,1040,NaN,1
24,192.108.116.88,18/Dec/2017,13,06,03,GET,datalab,<marquee/onstart=alert()>,200,945,NaN,1
25,192.108.116.88,18/Dec/2017,13,06,03,GET,datalab,<marquee/onstart=alert()>,200,34463,NaN,1
26,192.108.116.88,18/Dec/2017,13,06,03,POST,datalab,<marquee/onstart=alert()>,200,1073,NaN,1
27,192.108.116.88,18/Dec/2017,13,06,04,GET,datalab,<marquee/onstart=alert()>,304,-,NaN,1
28,192.108.116.88,18/Dec/2017,13,06,04,GET,datalab,<marquee/onstart=alert()>,304,-,NaN,1
29,192.108.116.88,18/Dec/2017,13,06,26,GET,datalab,<video/poster/onerror=alert()>,200,1040,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...
422,192.108.116.88,18/Dec/2017,17,56,40,GET,datalab,<svg/onload=%26%23097lert%26lpar;1337)>,200,1040,NaN,1
423,192.108.116.88,18/Dec/2017,17,56,40,GET,datalab,<svg/onload=%26%23097lert%26lpar;1337)>,200,945,NaN,1
424,192.108.116.88,18/Dec/2017,17,56,42,GET,datalab,<svg/onload=%26%23097lert%26lpar;1337)>,200,34463,NaN,1
425,192.108.116.88,18/Dec/2017,17,56,45,POST,datalab,<svg/onload=%26%23097lert%26lpar;1337)>,200,1073,NaN,1
426,192.108.116.88,18/Dec/2017,17,56,45,GET,datalab,<svg/onload=%26%23097lert%26lpar;1337)>,304,-,NaN,1
427,192.108.116.88,18/Dec/2017,17,56,46,GET,datalab,<svg/onload=%26%23097lert%26lpar;1337)>,304,-,NaN,1
428,192.108.116.88,18/Dec/2017,17,57,02,GET,datalab,<script>for((i)in(self))eval(i)(1)</script>,200,1040,NaN,1
429,192.108.116.88,18/Dec/2017,17,57,02,GET,datalab,<script>for((i)in(self))eval(i)(1)</script>,200,945,NaN,1
430,192.108.116.88,18/Dec/2017,17,57,03,GET,datalab,<script>for((i)in(self))eval(i)(1)</script>,200,34463,NaN,1
431,192.108.116.88,18/Dec/2017,17,57,06,POST,datalab,<script>for((i)in(self))eval(i)(1)</script>,200,1073,NaN,1
432,192.108.116.88,18/Dec/2017,17,57,06,GET,datalab,<script>for((i)in(self))eval(i)(1)</script>,304,-,NaN,1
433,192.108.116.88,18/Dec/2017,17,57,06,GET,datalab,<script>for((i)in(self))eval(i)(1)</script>,304,-,NaN,1
434,192.108.116.88,18/Dec/2017,17,57,21,GET,datalab,<scr<script>ipt>alert(1)</scr</script>ipt><scr...,200,1040,NaN,1
435,192.108.116.88,18/Dec/2017,17,57,21,GET,datalab,<scr<script>ipt>alert(1)</scr</script>ipt><scr...,200,945,NaN,1
436,192.108.116.88,18/Dec/2017,17,57,22,GET,datalab,<scr<script>ipt>alert(1)</scr</script>ipt><scr...,200,34463,NaN,1
437,192.108.116.88,18/Dec/2017,17,57,23,POST,datalab,<scr<script>ipt>alert(1)</scr</script>ipt><scr...,200,1073,NaN,1
438,192.108.116.88,18/Dec/2017,17,57,23,GET,datalab,<scr<script>ipt>alert(1)</scr</script>ipt><scr...,304,-,NaN,1
439,192.108.116.88,18/Dec/2017,17,57,23,GET,datalab,<scr<script>ipt>alert(1)</scr</script>ipt><scr...,304,-,NaN,1
440,192.108.116.88,18/Dec/2017,17,57,39,GET,datalab,<sCR<script>iPt>alert(1)</SCr</script>IPt>,200,1040,NaN,1
441,192.108.116.88,18/Dec/2017,17,57,39,GET,datalab,<sCR<script>iPt>alert(1)</SCr</script>IPt>,200,945,NaN,1
442,192.108.116.88,18/Dec/2017,17,57,39,GET,datalab,<sCR<script>iPt>alert(1)</SCr</script>IPt>,200,34463,NaN,1
443,192.108.116.88,18/Dec/2017,17,57,40,POST,datalab,<sCR<script>iPt>alert(1)</SCr</script>IPt>,200,1073,NaN,1
444,192.108.116.88,18/Dec/2017,17,57,40,GET,datalab,<sCR<script>iPt>alert(1)</SCr</script>IPt>,304,-,NaN,1
445,192.108.116.88,18/Dec/2017,17,57,40,GET,datalab,<sCR<script>iPt>alert(1)</SCr</script>IPt>,304,-,NaN,1
446,192.108.116.88,18/Dec/2017,17,57,59,GET,datalab,"<a href=data:text/html;base64,PHNjcmlwdD5hbGVy...",200,1040,0,1
447,192.108.116.88,18/Dec/2017,17,58,01,GET,datalab,"<a href=data:text/html;base64,PHNjcmlwdD5hbGVy...",200,945,1,1
448,192.108.116.88,18/Dec/2017,17,58,01,GET,datalab,"<a href=data:text/html;base64,PHNjcmlwdD5hbGVy...",200,34463,7,1
449,192.108.116.88,18/Dec/2017,17,58,04,POST,datalab,"<a href=data:text/html;base64,PHNjcmlwdD5hbGVy...",200,1073,648,1
450,192.108.116.88,18/Dec/2017,17,58,05,GET,datalab,"<a href=data:text/html;base64,PHNjcmlwdD5hbGVy...",304,-,0,1
451,192.108.116.88,18/Dec/2017,17,58,05,GET,datalab,"<a href=data:text/html;base64,PHNjcmlwdD5hbGVy...",304,-,8,1

In [18]:
bf_log=bf_logs
frames=[bf_log,normal_log,sql_log,xss_log]
data=pd.concat(frames)

In [19]:
data.to_csv('./data/donnee.csv')